
#intro{  background-color: yellow;}
.dolly{ color: purple; }
.danger{color:red; text-align: center; text-transform: capitalize; text-transform: blink;}
ul{
  text:white;
  border:black;
  padding: 20px;

}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration:none;




}
a:link{
  text-decoration:none;
}
