
#intro{  background-color: yellow;}
.dolly{ color: purple; }
.danger{color:red; text-align: center; text-transform: capitalize; text-transform: blink;}
.nav{
  text:white;
  border:black;
  padding: 20px;

}
a.none{
  text-transform: none;
}
